In [46]:
import pandas as pd

df = pd.read_csv('datasource.csv')

In [52]:
#df.drop(['product_name','sub_category_link'], axis=1, inplace=True)
df.sample(5)

,Category,link,major_category_name,major_category_id,sub_category_id
45,Trailer Lights,https://www.canadiantire.ca/en/automotive/trai...,automotive,0,45
143,COOLER BAGS and SOFT COOLERS,https://www.canadiantire.ca/en/outdoor-living/...,sports-rec,3,17
124,MINI FRIDGES,https://www.canadiantire.ca/en/kitchen/small-a...,household-pets,2,49
102,DINNER PLATES,https://www.canadiantire.ca/en/household-pets/...,household-pets,2,27
139,CAMPING CHAIRS,https://www.canadiantire.ca/en/sports-rec/camp...,sports-rec,3,13

In [35]:
df.drop(['product_name','link','sub_category_link', 'major_category_id', 'sub_category_id'], axis=1, inplace=True)

In [41]:
df.columns=['Product', 'Section']
df.head()

                                    Product     Section
0                      Battery Booster pack  automotive
1                            BOOSTER CABLES  automotive
2             CAR GPS, MOUNTS _ ACCESSORIES  automotive
3                        CAR SECURITY LOCKS  automotive
4  CARPORT REPLACEMENT COVERS _ ACCESSORIES  automotive

In [45]:
df_cat = pd.DataFrame(df.groupby('Section').size())
df_cat

                 0
Section
automotive      50
household-pets  51
outdoor-living  38
sports-rec      43
tools-hardware  25